@import "tailwindcss";

:root {
  --background: #262626;
  --foreground: #c9c9c9;
  --primary: #60d655;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: radial-gradient(circle at 50% 30%, #5a5a5a 0%, var(--background) 100%);
  color: var(--foreground);
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.glass-card {
  
}

